streamlit
python-dotenv
PyPDF2
python-docx
python-pptx
langchain
langchain-community
langchain-google-genai
sentence-transformers
faiss-cpu
Pillow
langchain-groq
requests
pandas
openpyxl
xlrd==1.2.0   # untuk .xls (versi baru xlrd drop dukungan xlsx)
